<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type = "text/css" href="../public/wcstyle.css"> 
  <title> Welcome to Todo List </title>
</head>
<body>
  <h1 id = "headline"> Hi! Welcome to Todo List</h1>
  <p id = "choose"> Please choose an option:</p>
    <div class = "center"> <a href="login.html" class = "choose1"> Login </a> <br> <a href="register.html" class = "choose1"> Register </a> </div>
  </ul>
</body>
</html>
